:host {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #121212;
  background-image: url('/assets/brand/death-tower.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 1000px;

  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  a:link {
    margin: 20px;
    display: block;
    font-size: 400%;
    font-family: var(--font-heading);
  }
}
