@import '@angular/cdk/overlay-prebuilt.css';
/* You can add global styles to this file, and also import other style files */

:root {
  --font-heading: "Germania One", cursive;
  --font-body: "Walter Turncoat", cursive;
  --font-size: 1.6rem;
  --color-bg: 18, 18, 18;
  --color-text: 241, 241, 241;
  --color-active: 255, 255, 255;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 1.2rem;
  font-family: var(--font-body);
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text));

  button {
    font-family: var(--font-heading);
  }
}

header {
  font-size: 1.8rem;
  font-family: var(--font-heading);
}

input {
  font-family: var(--font-heading);
}

a:link,
a:visited,
a:hover {
  cursor: pointer;
  color: rgba(var(--color-active), 0.6);
  transition: color 200ms;
  text-decoration: none;
}
a:hover {
  color: rgba(var(--color-active), 0.8);
  text-decoration: underline;
}
a:target,
a:active,
a.active {
  color: rgb(var(--color-active));
}

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }
}

.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
