/* You can add global styles to this file, and also import other style files */

:root {
  --font-heading: 'Germania One', cursive;
  --font-body: 'Walter Turncoat', cursive;
  --color-bg: #212121;
  --color-text: #f1f1f1;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 1.2rem;
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
}

header {
  font-size: 1.8rem;
  font-family: var(--font-heading);
}

a:link,
a:visited,
a:hover {
  color: #9a9a9a;
  transition: color 200ms;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: underline;

}
