:root {
  /* --font-family: 'UnifrakturMaguntia', cursive; */
  --font-family: 'Germania One', cursive;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(10, 10, 10);
  font-family: var(--font-family);
  font-size: 100%;
}

#container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: 50% 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 27%, rgba(10, 10, 10, 1) 100%);
}

#container > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  z-index: 1000;
  position: fixed;
  left: 10px;
  top: 10px;
}

#container > header .github-icon {
  display: inline-flex;
  max-height: 24px;
  color: white;
}

#container header a {
  display: inline-flex;
  font-weight: 500;
  font-size: 140%;
  margin: 10px;
}

#container header a,
#container header a:link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
#container header a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
#container header a:active {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

#container > form {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

#container > form label {
  font-size: 160%;
  color: rgba(255, 255, 255, 0.9);
}

#container > form input {
  max-width: 100px;
  font-family: var(--font-family);
  background-color: transparent;
  border-color: transparent;
  text-align: right;
  font-size: 32px;
  color: white;
  z-index: 200;
}

#buttons {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  width: calc(100% - 20px);
  display: none;
  justify-content: space-between;
}

#buttons button {
  border-radius: 50%;
  border-width: 0;
  width: 64px;
  height: 64px;
  background: #121212;
  border: 2px solid #f1f1f1;
}
#buttons > div {
  display: flex;
  gap: 10px;
}
#buttons button svg {
  fill: #f1f1f1;
}

canvas {
  z-index: 80;
  width: 100%;
}

@media (max-width: 800px) {
  canvas {
    width: 100%;
  }
  #buttons {
    padding: 10px;
    display: flex;
  }
}
