:root {
  /* --font-family: 'UnifrakturMaguntia', cursive; */
  --font-family: 'Germania One', cursive;
  --canvas-width-mobile: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(10, 10, 10);
  font-family: var(--font-family);
  font-size: 100%;
}


#container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: 50% 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 27%,
    rgba(10, 10, 10, 1) 100%
  );
}

#container > header {
  display: flex;
  flex-direction: row;
  align-items: center;

  z-index: 1000;
  position: fixed;
  left: 10px;
  top: 10px;
}

#container > header .github-icon {
  flex-direction: column;
  display: flex;
}
#container > header .github-icon img {
  height: 24px;
}
#container > header .github-icon span {
  display: none;
}

#container header a {
  display: inline-flex;
  font-weight: 500;
  font-size: 140%;
  margin: 10px;
}

#container header a,
#container header a:link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
#container header a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
#container header a:active {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

#container > form {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

#container > form label {
  font-size: 160%;
  color: rgba(255, 255, 255, 0.9);
}

#container > form input {
  max-width: 100px;
  font-family: var(--font-family);
  background-color: transparent;
  border-color: transparent;
  text-align: right;
  font-size: 32px;
  color: white;
  z-index: 200;
}

#buttons {
  z-index: 100;
  position: fixed;
  bottom: 8px;
  width: calc(100% - 32px);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#buttons button:not(#fullscreen) {
  display: none;
}

#buttons button {
  border-radius: 50%;
  border-width: 0;
  width: 82px;
  height: 82px;
  background: #121212;
  border: 2px solid #f1f1f1;
}
#buttons > div {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
#buttons > .vertical {
  flex-direction: column;
}
#buttons button svg {
  fill: #f1f1f1;
}
#buttons button#fullscreen {
  margin: 8px 8px 16px;
  width: 64px;
  height: 64px;
}
#buttons button svg#fullscreen-exit {
  display: none;
}
.hidden {
  display: none;
}

canvas {
  z-index: 80;
  width: 100%;
}

@media (min-width: 896px) and (max-width: 1200px) and (orientation: landscape) {
  canvas {
    width: 100%;
    max-height: 100%;
  }

  #buttons button#fullscreen {
    margin: 16px;
  }
  #buttons button:not(#fullscreen) {
    display: unset;
    width: 100px;
    height: 100px;
  }
  #buttons {
    padding: 10px;
    /* display: flex; */
  }
}

@media (max-width: 896px) and (orientation: landscape) {
  canvas {
    width: 100%;
    max-height: 100%;
  }

  #container header a {
    font-size: 100%;
  }
  #container > form label {
    font-size: 18px;
  }
  #container > form input {
    max-width: 80px;
    text-align: right;
    font-size: 18px;
  }
  #buttons button#fullscreen {
    margin: 8px;
  }
  #buttons button:not(#fullscreen) {
    display: unset;
  }
  #buttons {
    padding: 10px;
    /* display: flex; */
  }
}
@media (max-width: 844px) {
  canvas {
    width: 100%;
    max-height: 100%;
  }

  #container header a {
    font-size: 100%;
  }
  #container > form label {
    font-size: 18px;
  }
  #container > form input {
    max-width: 80px;
    text-align: right;
    font-size: 18px;
  }
  #buttons button#fullscreen {
    margin: 8px;
  }
  #buttons button:not(#fullscreen) {
    display: unset;
  }
  #buttons {
    padding: 10px;
    /* display: flex; */
  }
}
