html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(10, 10, 10);
  font-family: "UnifrakturCook", cursive;
  font-size: 100%;
  /* overflow: hidden; */
}

#container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: 50% 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 27%, rgba(10, 10, 10, 1) 100%);
}

#container > form {
  position: fixed;
  top: 10px;
  right: 10px;
}

#container > form label {
  font-size: 160%;
  color: rgba(255, 255, 255, 0.9);
}

#container > form input {
  font-family: "UnifrakturCook", cursive;
  background-color: transparent;
  border-color: transparent;
  text-align: right;
  font-size: 32px;
  color: white;
  z-index: 200;
}

nav {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  width: calc(100% - 20px);
  display: none;
  justify-content: space-between;
}

nav button {
  border-radius: 50%;
  border-width: 0;
  width: 64px;
  height: 64px;
}

canvas {
  z-index: 80;
  width: 100%;
}

@media (max-width: 800px) {
  canvas {
    width: 100%;
  }
  nav {
    padding: 10px;
    display: flex;
  }
}
