:host {
  width: 56px;
  height: 56px;
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: 2px solid #f1f1f1;
}
