:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;

  header {
    display: flex;
    justify-content: space-between;

    form {
      gap: 20px;
      display: flex;
      margin: 8px 16px;
      justify-content: space-between;
      align-items: center;
    }

    nav {
      a {
        margin: 8px 16px;
        display: inline-flex;
      }
    }
  }

  main {
    flex: 1;

    overflow: hidden;
    max-height: 100vh;

    canvas {
      width: 100%;
    }
  }

  footer {
    bottom: 0;
    position: fixed;
    width: calc(100vw - 48px);
    padding: 24px;
    nav {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  svg {
    display: inline-flex;
    max-height: 24px;
    use {
      fill: #f1f1f1;
    }
  }

  .hidden {
    display: none;
  }

  .svg-symbols {
    display: none;
  }
}
